@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #333;
}

.App {
  /* max-width: 728px; */
  margin: 4rem auto;
}

.App > h1 {
  text-align: center;
  margin: 1rem 0;
}
.todo__menu ul {
  border-radius: 10px;
}

.todo__menu div:first-of-type {
  border-radius: 10px 10px 0px 0px;
}

.todo__menu div:last-of-type {
  border-radius: 0px 0px 10px 10px;
}

.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;
  width: 100%;
}

.Card--text h1 {
  color: #90a4ae;
}

.Card--button {
  min-width: 12rem;
}

.Card--button button {
  background: #f5f6f7;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.Card--button__delete {
  border: 1px solid #ca0000;
  color: #ca0000;
}

.Card--button__done {
  border: 1px solid #00aa69;
  color: #00aa69;
  margin-right: 1rem;
}

.comPlainTextContentEditable {
  padding: 0.5rem;
  text-align: justify;
}

.Card--button__undone {
  border: 1px solid #333;
  color: #333;
  margin-right: 0.5rem;
}

.Form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 1rem;
  padding: 1rem;
  background: #444;
  margin-bottom: 1rem;
}

.Form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form input {
  background: #ffffffbd;
  padding: 0.5rem 1rem;
  border: 1px solid #90a4ae;
  border-radius: 10px;
  display: block;
  margin: 0.3rem 1rem 0 0;
}

.Form label {
}

.Form button {
  background: #90a4ae;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.line-through {
  text-decoration: line-through;
  color: #777 !important;
}

.hide-button {
  display: none;
}
